@page
@model AdminMPA.Pages.Admin.EditBookModel
@{
    ViewData["Title"] = "Edit Book";
}

<h1 class="text-center mb-5">@Model.book.Title</h1>
<br />

<div class="container-fluid d-flex justify-content-center">

    <div class="w-75">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Library Name</th>
                    <th class="text-end" scope="col">Number of Copies</th>
                    <th class="text-end" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var copy in Model.copies)
                {
                    <tr>
                        <td>@(Model.Number += 1)</td>
                        <td>@copy.Library.LibraryName</td>
                        <td class="text-end">@copy.NumberOfCopies</td>
                        <td class="text-end">
                            @if (copy.NumberOfCopies>1) 
                            {
                                <a class="btn btn-primary" asp-page="TransferBook" asp-route-libraryId="@copy.LibraryId" asp-route-bookId="@copy.BookId">Transfer/Buy Books</a>
                            }
                            @if (copy.NumberOfCopies==1) 
                            {
                                <a class="btn btn-primary" asp-page="TransferBook" asp-route-libraryId="@copy.LibraryId" asp-route-bookId="@copy.BookId">Buy</a>
                            }
                        </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<br />


