@page
@model AdminMPA.Pages.Admin.EditBookModel
@{
    ViewData["Title"] = "Edit Book";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.book.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome da Biblioteca</th>
            <th>Número de Cópias</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var copy in Model.copies)
        {
            <tr>
                <td>@copy.Library.LibraryName</td>
                <td>@copy.NumberOfCopies</td>
                <td>
                    @* <form method="post" asp-page-handler="Transfer" asp-action="Transfer" class="d-inline"> *@
                    @* <input type="hidden" asp-for="@copy.BookId" />  *@
                    @* <input type="hidden" asp-for="@copy.LibraryId" />  *@
                    @*     <button type="submit" class="btn btn-primary">Transfer</button> *@
                    @* </form> *@
                    @if (copy.NumberOfCopies>1) {<a class="btn btn-primary" asp-page="TransferBook" asp-route-libraryId="@copy.LibraryId" asp-route-bookId="@copy.BookId">Transfer/Buy Books</a>
                    }
                    @if (copy.NumberOfCopies==1) {<a class="btn btn-primary" asp-page="TransferBook" asp-route-libraryId="@copy.LibraryId" asp-route-bookId="@copy.BookId">Buy</a>
                    }
                    @* <form asp-action="Delete" class="d-inline"> *@
                        @* <input type="hidden" asp-for="@copy.BookId" />  *@
                        @* <input type="hidden" asp-for="@copy.LibraryId" />  *@
                        @* <button type="submit" class="btn btn-danger"> Eliminar</button>  *@
                        @* </form> *@
                   </td>
                </tr>
        }
    </tbody>
</table>



<br />


