@page
@model ManageUsersModel
@{
    ViewData["Title"] = "Manage Users";
}

<div class="container-fluid d-flex flex-column">
    <div class="container-fluid d-flex flex-column align-items-center">
        <h1>@ViewData["Title"]</h1>
        <p>Content for managing users goes here.</p>
        
        @if(Model.deletedUsers.Any()){
            foreach(var user in Model.deletedUsers){
                <p>@user.Email - deleted</p>
            }
        }
    </div>
    <div class="d-flex justify-content-between">
        <button class="btn btn-outline-primary fs-5 fw-bold text-black d-flex align-content-center" href="CreateUser/Index">+</button>
        @* <a href="ManageUsers/Index">Create Users</a> *@
        <form class="d-flex" method="get">
            <input class="form-control w-75" type="text" name="searchTerm" value="@Model.SearchTerm" placeholder="Pesquisar..." />
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
    </div>

    <div class="container-fluid d-flex justify-content-center ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Strikes</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="user-table">
                @foreach(var user in Model.AllUsers) {
                    <tr>
                        <th scope = 'row'> @(Model.Number += 1) </th>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.Address</td>
                        <td>@user.Strikes</td>
                        <td class='text-center'>
                            <button class='btn btn-info'>Edit</button>
                            <button class='btn btn-outline-secondary'>Delete</button>
                        </td> 
                    </tr>;
                }
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center ">
        <form class="d-flex flex-column" method="post" asp-page-handler="DeleteInactiveUsers">
            <p>Do you want to delete users that have been inactive for more then one year?</p>
            <button type="submit" class="btn btn-outline-secondary">Click Here</button>
        </form>
    </div>

    <div class="container-fluid">
        <ul>
            @foreach (var item in Model.Users)
            {
                    <li>@item.Email</li>
            }
        </ul>
        @if (Model.Users != null && Model.Users.Any())
        {
                <ul>
                @foreach (var user in Model.Users)
                {
                    <li>@user.Email <a class="btn btn-primary btn-sm" asp-page="EditUser" asp-route-email="@user.Email">Manage</a></li> 
                }
                </ul>
        }
        else if(!string.IsNullOrEmpty(Model.SearchTerm) && (!Model.Users.Any() || Model.Users == null))
        {
                <p>Nenhum resultado encontrado.</p>
        }
    </div>
</div>